<%- include('partials/head') %>
<main>
  <h2>404 - Producto no encontrado</h2>
  <p>Lo sentimos, pero el producto que buscas no existe.</p>
  <a href="/">Volver a la lista de productos</a>
</main>
<%- include('partials/footer') %>
